body{
	font-size: 14px;
	font-family: Helvetica, Arial, 'Sans serif';
	color: #555;
}

.canvas-wrapper{
	width: 1000px;
	margin: 20px auto;
	background: #fff;
}

.canvas-sidebar{
	width: 200px;
	float: right;
	height: 600px;
}

.canvas-parameter-value{
	width: 40px;
	float: right;
}

.canvas-parameter-name{
	font-weight: 500;
	display: block;
	margin-bottom: .3em;
}

.canvas-parameter-range{
	display: block;
	margin: 8px 0 10px 0;
}